/**
 * Cards
 */
.card {
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center 200%;
}

.card__content {
  height: 92px;
  padding: 352px 24px 0;
}

.card__title {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 8px;
}

.card__details {
  color: #EAEEEF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}

.card__action {
  height: 100px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: scale(0.95) translateY(-50%);
  transform-origin: center;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  width: 100px;
}

.card__action--active {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.card__action--delete {
  left: 16px;
}

.card__action--save {
  right: 16px;
}

.cell {
  .card {
    height: 100%;
  }
}

.card__media {
  img {
    display: block;
    width: 100%;
  }

  &:only-child {
    img {
      border-radius: 3px;
    }
  }

  &--top {
    img {
      border-radius: 3px 3px 0 0;
    }
  }

  &--bottom {
    order: 1;

    img {
      border-radius: 0 0 3px 3px;
    }
  }
}

.card__body {
  flex-grow: 1;
  padding: 1.5rem;
}

.card__header,
.card__meta,
.card__footer {
  margin-bottom: 1.125rem;
}

.card__title {
  margin-top: 0;
}

.card__meta,
.card__footer {
  color: $color-meta;
  font-size: 0.875em;
  line-height: 1.5;
}

.card__copy {
  & > *:last-child {
    margin-bottom: 1.125rem;
  }
}